<mat-form-field>
  <mat-label>Search Book by it's Title, Author and category</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Rama" #input>
</mat-form-field>
  <main class="container">
    <nav class="left-half">
        <div class="button-list">

          <p>Categories - {{totalCatagories}}</p>
          <p>Total Books - {{totalBooks}}</p>
          </div>
    </nav>
    <article class="right-half">
      <div class="card-container">
        <mat-card class="example-card" appearance="outlined" *ngFor="let item of filteredBookItems">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
            <mat-card-title>{{ item.title }}</mat-card-title>
            <!-- <mat-card-subtitle>{{ item.author }}</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-image [src]="item.image" [alt]="item.title">
          <mat-card-content>
            <p> Author: {{ item.author }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Avl Count: {{ item.count }}</button>
            <button mat-button [disabled]="item.count <=0" (click)="addToBorrowList(item)">Borrow</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
    </article>
  </main>
  