
  .left-half{
    width: 10rem;
  }

  .container {
    display: flex;
    min-height:90vh;
    border: 4px solid #d1d5db; // Light gray border

    .left-half {
        background-color: #ebf8ff; // Light blue background
        border-right: 4px solid #d1d5db; // Right border for left half
    }

    .right-half {
        width: 90vw;
        background-color: #f0fff4; // Light green background
    }
}
