table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  mat-icon[fontIcon=edit]{
    color: #4c53af;
  }

  mat-icon[fontIcon=delete]{
    color: #ff2112;
  }